{% extends 'base.html.twig' %}

{% block body %}

    <h1>Просмотр картинки</h1><br/><br/><br/>

    {% if data is defined %}

        <img src="{% if data.image=='self' or data.image=='default' %}images/no-image.png{% else %}{{ data.image }}{% endif %}" class="img-fluid"/>
        <h4>{{ data.title }}</h4>
        <p><em>{{ data.author }}</em></p>
        <p class="text-right">{{ data.create }}</p>

        <p>{{ followersCount }} человек добавили в избранное.</p>
        {% if button == false %}
        <a href="{{ path('set_follow', {'name':data.name}) }}" class="btn btn-dark">Добавить в избранное</a>
        {% endif %}

    {% endif %}

    <br/><br/><br/><a href="{{ path('catalog') }}">Назад в каталог >> </a><br/><br/><br/>

{% endblock %}

{% block title %}

{% endblock %}

