{% extends 'base.html.twig' %}

{% block body %}

    <h1>Каталог</h1><br/><br/><br/>

    {% if data is defined %}


        <div class="row">

        {% for item in data %}

            <div class="col-md-3" style="margin-bottom: 20px;">
                <div class="card h-100">
                    <img src="{% if item.thumbnail=='self' or item.thumbnail=='default' %}images/no-image.png{% else %}{{ item.thumbnail }}{% endif %}" class="card-img-top"/>
                    <div class="text-right">
                        <p style="width: 40px;padding: 5px;border: 1px solid #999;" class="text-center">
                            {{ item.followersCount }}
                        </p>
                    </div>
                    <div class="card-body">
                        <h4><a href="{{ path('catalog_item', {'name':item.name}) }}">{{ item.title | truncate(15) }}</a></h4>
                        <p><em>{{ item.author }}</em></p>
                        <p class="text-right">{{ item.create }}</p>
                    </div>
                </div>
            </div>


        {% endfor %}

        </div>

    {% endif %}

    {% if pages is defined %}
        {% for page in pages%}
            <a href="{{ path('my_favorites', {'page':page}) }}">{{ page }}</a> |
        {% endfor %}
    {% endif %}

    <br/><br/><br/><a href="{{ path('catalog') }}">Назад в каталог >> </a><br/><br/><br/>

{% endblock %}

{% block title %}

{% endblock %}

