{% extends 'base.html.twig' %}

{% block title %}Бронирование{% endblock %}

{% block body %}
    <h1>Реддиты</h1>
    <p>Чтобы продолжить работу с сайтом, зарегистрируйтесь или авторизуйтесь!</p>
    <p><a href="{{ path('app-sign-up') }}">Зарегистрироваться</a></p>
    <p><a href="{{ path('auth') }}">Авторизоваться</a></p>
{% endblock %}