{% extends "base.html.twig" %}

{% block title %}Регистрация{% endblock %}

{% block body %}
    <h1>Регистрация</h1>
    {% if error %}
        <div style="border:1px solid red;">{{ error }}</div>
    {% endif %}
    {{ form(form) }}

    <hr/>
    <h4>Зарегистрироваться через социальные сети</h4>
    {{ include('ulogin.html.twig') }}

{% endblock %}


